/* Universal Class */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

/* Common Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("bg-1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    padding: 50px 0 0 0;
    text-align: center;
    color: #f5f5f5;
    text-shadow: 2px 2px 5px black;
    font-size: 40px;
  }

  h2 {
    color: #f5f5f5;
    text-shadow: 2px 2px 5px black;
  }

  h3 {
    color: #f5f5f5;
    text-shadow: 2px 2px 5px black;
  }

  p {
    margin: 100 px 0 0 0;
    color: #f5f5f5;
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
  }
  
  nav ul {
    list-style: none;
    padding-top: 20px;
    text-align: center;
    color: #f5f5f5;
    text-shadow: 2px 2px 5px black;
    font-size: 32px;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #f5f5f5;
    margin: 100px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 100px auto;
    box-shadow: 2px 2px 5px black;
    color: #f5f5f5;
    text-shadow: 2px 2px 5px black;
  }
  
  table th,
  table td {
    border: 2px solid #f5f5f5;
    padding: 8px;
  }

  #myTable:hover{
    color: black;
    text-shadow: 2px 2px 5px #f5f5f5;
  }

  form {
    margin: 100px;
  }

  form label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="submit"] {
    margin-top: 5px;
  }
  
  ul {
    margin-top: 20px;
  }
  
  /* Individual Page Styles */
  
  /* Home Page */
  #index {
    padding: 20px;
  }
  
.message {
  margin: 100px 0 0 0;
}

  /* Table Page */
  #table {
    background-color: #eaeaea;
    padding: 20px;
  }
  
  /* Form Page */
  #form {
    background-color: #f5f5f5;
    padding: 20px;
  }

  .contact-info a, .contact-form label{
    color: #f5f5f5;
    text-shadow: 2px 2px 5px black;
  }
  
  /* List Page */
  #list {
    background-color: #eaeaea;
    padding: 20px;
  }

  #myList {
    color: #f5f5f5;
    padding: 20px;
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
  }
  
  /* Image Page */
  #image {
    background-color: #f5f5f5;
    padding: 20px;
  }

  .container{
    width: 100%;
    margin: 100px auto;
  }

  .container-img-part-one, .container-img-part-two{
    width: 90%;
    float: left;
    margin: 20px;
  }

  .container-img-part-one-img-one, .container-img-part-one-img-two, .container-img-part-two-img-one, .container-img-part-two-img-two{
    width: 45%;
    float: left;
    margin-bottom: 10px;
  }

  .container-img-part-one-img-one img, .container-img-part-one-img-two img, .container-img-part-two-img-one img, .container-img-part-two-img-two img {
    width: 90%;
    height: 400px;
  }